<h1>Add Ingredient to <%= @cocktail.name %></h1>

<%= simple_form_for @dose, url: cocktail_doses_path do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit 'Add ingredient', class:'btn btn-primary' %>
<% end %>
